body {
	background: url(http://media.cntraveler.com/photos/577d3357a08a7cb205515858/master/pass/california-beaches-03-huntington-beach-GettyImages-89571676.jpg) no-repeat center fixed; 
  	background-size: cover;
}
h1 {
	text-align: center;
	font-size:40px;
	color: #BFE917;
}
h2 {
	max-width: 400px;
	text-align: center;
	font-family: 'Chivo';
	color: black;
	font-size: 60px;
}
h3 {
	max-width: 400px;
	text-align: center;
	font-family: 'Calligraffitti';
	font-size: 25px;
	color: white;
}
h6 {
	color: white;
	font-size: 24px;
}
p {
	text-align: left;
	color: white;
	font-size: 15px;
}
img {
	max-width: 370px;
	border-style: solid;
	border-color: white;
    border-width: 5px;
}
.col-xs-1 {
	text-align: center;
	width: 100px;
}
.col-xs-2 {
	width: 200px;
}
#map {
	border-style: solid;
    border-width: 5px;
    position: relative;
    overflow: hidden;
    max-width: 450px;
    height: 400px;
}
#map embed {
    position: absolute;
    top: 0;
    left: 0;
}

